@use "../../../color-variables.scss" as *;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
  padding: 0 10%;
}

footer {
  display: grid;
  font-weight: 300;
  hr, a {
    color: $font2;
  }

  a {
    background-color: transparent;
    i {
      color: $font2;
      padding: 0 1%;
    }
  }

  div {
    margin-bottom: 1%;
  }

  select {
    padding: 0;
    background-color: transparent;
    border: none;
    color: #fff;
    margin-right: 5em;
    cursor: pointer;
  }
}

span {
  padding: 0;
  color: $font2;
  a {
    padding: 0;
  }
}