/* You can add global styles to this file, and also import other style files */
@use "color-variables.scss" as *;

*{
  margin: 0;
  padding: 0;
  background-color: $background-view;
  font-family: "Popins", sans-serif;
}